@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PRN222_EnglishQuiz.Models.User

@{
    ViewData["Title"] = "Sign Up";
}

<div class="row justify-content-center">
    <div class="col-md-5">
        <h2 class="text-center mb-4">Sign Up</h2>

        <form asp-controller="Home" asp-action="Signup" method="post">
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <!-- Address -->
            <div class="form-group mb-3">
                <label asp-for="Address" class="form-label">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <!-- Phone -->
            <div class="form-group mb-3">
                <label asp-for="Phone" class="form-label">Phone</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PasswordHash" class="form-label">Password</label>
                <input asp-for="PasswordHash" class="form-control" type="password" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label for="ConfirmPassword" class="form-label">Re-Password</label>
                <input name="ConfirmPassword" class="form-control" type="password" />
                <span class="text-danger">@ViewData["ConfirmError"]</span>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-success">Sign Up</button>
            </div>

            <div class="text-center mt-3">
                <p>Already have an account? <a asp-action="Login" asp-controller="Home">Log In</a></p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

